.nav,
.btn-login,
.btn-signup,
.logo {
    display: none;
}

.header-menu-btn {
    background-image: url("../../images/menu.svg");
    height: 24px;
    width: 24px;
    margin-right: 15px;
}

.header-profile-icon {
    margin-left: 19px;
}

.header {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.header-right {
    display: flex;
    align-items: end;
}

.logo-mobile {
    display: inline-block;
}

.header-search-input {
    display: none;
}

// // This is for desktop
@media screen and (min-width: 1440px) {
    body {
        background-color: $bgoffwhite;
    }

    // header should width: for the whole  page;
    // hero page, needs margin.
    .header {
        width: 100%;
        padding: 49px 80px 12px 80px;
        // display: flex; Adding display none so that we can work on mobile verstion
        display: flex;
        justify-content: center;
        position: absolute;
        top: 32px;
        left: 0px;

    }

    .header-left,
    .header-right,
    .mobile-menu-div {
        display: none;
    }

    .btn-login,
    .btn-signup {
        display: inline-block;
    }

    .logo {

        margin-right: 579px;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3;
        color: #06241B;
    }

    .logo img {
        margin-right: 21px;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        margin-right: 24px;
    }

    .nav-list-item {
        &:not(:last-child) {
            margin-right: 36px;
        }

        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;


    }

    .nav-list-item-link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: $gray;
    }

    .btn-login {
        margin-right: 8px;
        padding: 8px 16px;
        background-color: #F0FAF7;
        border-radius: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: $darkGreen;
    }

    .btn-signup {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #FFFFFF;
        padding: 8px 16px;
        background-color: $brandColor;
        border-radius: 8px;

    }


}