.mobile-menu-div {
    display: none;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    padding: 12px 12px
}

.mobile-menu-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: #20B486;
    margin-bottom: 12px;
    margin-left: 28px;
}

.mobile-menu-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    color: #6F8191;
    padding: 11px 12px;
}

.mobile-menu-list-item-signin {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #06241B;
}

.mobile-menu-svg {
    margin-left: auto;
    display: flex;
    margin-right: 20px;
}