.green_box {
    width: 375px;
    height: 74px;
    background-color: #20B486;
    position: relative;
    margin-bottom: 47px;
}

.green_box_icon {
    position: absolute;
    left: 11px;
    bottom: -39px;

}

.green_box_title {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: $darkGreen;
    margin-bottom: 14px;
}


.profile_after_login {
    padding-left: 16px;
    padding-right: 16px;
}

.green_box_subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $darkGreen;

}

.below_green_box {
    padding-left: 16px;
    padding-right: 16px;
}

.profile_nav_list_item {
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 16px;
}

.profile_nav {
    background-color: #F3F5F8;
}